.node {
    background-color: darkgrey;
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
}

.menu {
    background-color: burlywood;
    padding: .5em;
    border-radius: 1em;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 130px;
    height: fit-content;
    z-index: 1;
}

.alt-color2 {
    background-color: aquamarine;
}

.alt-color {
    background-color: gold;
}

.button {
    background-color:cornflowerblue;
    color: white;
    padding: 1em;
    border-radius: 1em;
}

.margined {
    margin: .5em;
    display: block;
    text-align: center;
}

.button:hover {
    background-color: chartreuse;
    cursor: pointer;
}

.deleter {
    background-color: firebrick;
}

.mover:hover {
    cursor:move;
}

.stretcher:hover {
    cursor:ew-resize;
}

.adder:hover {
    cursor:copy;
}

.deleter:hover {
    background-color: tomato;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.message {
    display: block;
    resize: none;
}